
@{
    ViewBag.Title = "Cennik";
}
<div class="page_container">
    <div style="height:4px;background:black;"></div>
    <div class="wrap planning">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <a href="#">
                        <img src="~/img/Cennik/oczyszczanie-twarzy.jpg" />
                        @*<span class="img_icon icon1"></span>*@
                        <span class="link_title">OCZYSZCZANIE TWARZY</span>
                        Nunc vel arcu arcu. Nulla mollis feugiat dui id tincidunt. Aenean ac lobortis elit.
                    </a>
                </div>
                <div class="span3">
                    <a href="#">
                        <img src="~/img/Cennik/depilacja.jpg" />
                        @*<span class="img_icon icon2"></span>*@
                        <span class="link_title">DEPILACJA</span>
                        Nunc vel arcu arcu. Nulla mollis feugiat dui id tincidunt. Aenean ac lobortis elit.
                    </a>
                </div>
                <div class="span3">
                    <a href="#">
                        <img src="~/img/Cennik/manicure2.jpg" />
                        @*<span class="img_icon icon3"></span>*@
                        <span class="link_title">PAZNOKCIE</span>
                        Nunc vel arcu arcu. Nulla mollis feugiat dui id tincidunt. Aenean ac lobortis elit.
                    </a>
                </div>
                <div class="span3">
                    <a href="#">
                        <img src="~/img/Cennik/brwi.jpg" />
                        @*<span class="img_icon icon4"></span>*@
                        <span class="link_title">PO PROSTU BĄDŹ PIĘKNA</span>
                        Nunc vel arcu arcu. Nulla mollis feugiat dui id tincidunt. Aenean ac lobortis elit.
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="wrap planning">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <table>
                        <tr>
                            <td><b>Oczyszczanie twarzy:</b></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>1. Maska ściągająca</td>
                            <td>70 zł</td>
                        </tr>
                        <tr>
                            <td>2. Maska z alg</td>
                            <td>85 zł</td>
                        </tr>
                        <tr>
                            <td><b>Zabieg balansujący po oczyszczaniu</b></td>
                            <td>70 zł</td>
                        </tr>
                        <tr>
                            <td><b>Zabieg oczyszczająco-nawilżający</b></td>
                            <td>85 zł</td>
                        </tr>
                        <tr>
                            <td><b>- z płatem kolagenowym</b></td>
                            <td>120 zł</td>
                        </tr>
                        <tr>
                            <td><b>Zabieg odżywczy</b></td>
                            <td>85 zł</td>
                        </tr>
                        <tr>
                            <td><b>- z mikrodermabrazją</b></td>
                            <td>160 zł</td>
                        </tr>
                        <tr>
                            <td><b>Masaż twarzy</b></td>
                            <td>20 zł</td>
                        </tr>
                    </table>
                </div>
                <div class="span3">
                    <table>
                        <tr>
                            <td><b>Depilacja:</b></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>1. Całe nogi</td>
                            <td>65 zł</td>
                        </tr>
                        <tr>
                            <td>2. Do kolan</td>
                            <td>37 zł</td>
                        </tr>
                        <tr>
                            <td>3. Pachy</td>
                            <td>20 zł</td>
                        </tr>
                        <tr>
                            <td>4. Bikini</td>
                            <td>25-40 zł</td>
                        </tr>
                        <tr>
                            <td>5. Ręce</td>
                            <td>25 zł</td>
                        <tr>
                            <td>6. Wąsy</td>
                            <td>8 zł</td>
                        </tr>
                        <tr>
                            <td>7. Broda</td>
                            <td>10 zł</td>
                        </tr>
                    </table>
                </div>
                <div class="span3">
                    <table>
                        <tr>
                            <td><b>Henna na brwi i rzęsy</b></td>
                            <td>21 zł</td>
                        </tr>
                        <tr>
                            <td><b>Regulacja brwi</b></td>
                            <td>10 zł</td>
                        </tr>
                        <tr>
                            <td><b>Manicure</b></td>
                            <td>22-27 zł</td>
                        </tr>
                        <tr>
                            <td><b>Pedicure</b></td>
                            <td>32-40 zł</td>
                        </tr>
                        <tr>
                            <td><b>Parafina</b></td>
                            <td>15-35 zł</td>
                        </tr>
                        <tr>
                            <td><b>Przekłuwanie uszu</b></td>
                            <td>35 zł</td>
                        </tr>
                        <tr>
                            <td><b>Eksfoliacja</b></td>
                            <td>80 zł</td>
                        </tr>
                        <tr>
                            <td><b>Kwas migdałowy</b></td>
                            <td>90 zł</td>
                        </tr>
                        <tr>
                            <td><b>- z ultradźwiękami</b></td>
                            <td>120 zł</td>
                        </tr>

                    </table>
                </div>

            </div>
        </div>
    </div>


</div>
    